
body{

    font-family: 'Poppins', sans-serif;
}

.flexible{
    display: flex;
margin-bottom: 10%;
}

.orange{
    color: orange;
}

h1{
font-size: 40px;
}

h3{
    font-size: 40px;
}


.recipie{

    text-align: center;

}


.half-width{
    width: 40%;

}
.half-width img{
    margin-left: 40px;
    width: 60%;
}



.button{
    color: white;

    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px;
    border-radius: 10px;

    
}

.background-image{

    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.box{
width: 40%;
padding: 40px;
margin-left: 10%;
border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
    
}


.last-footer{
    color: white;
    background-color: black;
}

